header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  
     .youtube-logo{
      height: 20px;
    }
  }
  
  .search-bar{
    flex-grow: 1;
    display: flex;
    margin: 0 2rem 0 4rem;
  
       .search-input{
      width: 100%;
      font-size:inherit;
      padding: .4em;
      border: 1px solid #777;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  
     .search-button{
      display: flex;
      align-items: center;
      padding: 0 1.25rem;
      border: 1px solid #777;
      background-color: #F8F8F8;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      cursor: pointer;
       
      &:hover{
        background-color: white;
      }
    }
  }
  
  .menu-channel-icon{
  height: 30px;
  border-radius: 50%;
  }
  
  .menu-icons{
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    gap: 1.5rem;
  }