header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

header .youtube-logo {
  height: 20px;
}

.search-bar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2rem 0 4rem;
}

.search-bar .search-input {
  width: 100%;
  font-size: inherit;
  padding: .4em;
  border: 1px solid #777;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-bar .search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.25rem;
  border: 1px solid #777;
  background-color: #F8F8F8;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.search-bar .search-button:hover {
  background-color: white;
}

.menu-channel-icon {
  height: 30px;
  border-radius: 50%;
}

.menu-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.video-part {
  background-color: #F4F4F4;
}

.video-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-image {
  max-width: 250px;
  max-height: 150px;
}

.video-icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1rem;
}

.video-channel-icon {
  width: 32.5px;
  height: 32.5px;
  border-radius: 50%;
  margin-right: 13px;
}

.video-title, .video-channel-name {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-title {
  color: black;
  font-size: 15px;
  font-weight: 600;
}

.video-channel-name, .video-metadata {
  color: slategray;
  font-size: 15px;
}

.video-channel-name {
  margin-bottom: 5px;
  margin-top: .2rem;
  -webkit-transition: 5ms;
  transition: 5ms;
}

.video-channel-name:hover {
  color: #444;
}

.categories {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  height: 40px;
}

.category-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.category-section .category {
  word-wrap: none;
  margin-left: 30px;
  margin-top: 5px;
  white-space: nowrap;
  border: 1px solid #CCC;
  border-radius: 900px;
  background-color: #E7E7E7;
  padding: .5rem 1 rem;
  cursor: pointer;
  font-size: inherit;
  -webkit-transition: .1s;
  transition: .1s;
}

.category-section .category:hover {
  background-color: #DDD;
}

.category.active {
  background-color: #606060;
  color: white;
  border-color: white;
}
/*# sourceMappingURL=main.css.map */